{% load static %}
<!DOCTYPE html>
<html>
  {% comment %} <link rel="stylesheet" href="{% static 'myfirst.css' %}"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'myglobal.css' %}">
<body>
  {%include 'mymenu.html' with me="tade" sponsor="kaldastech"%}
  {% with firstname="User" %}
     <h3> welcome {{firstname}} </h3>
  {% endwith %}

  {% if x is y %}
  <h1>YES</h1>
  {% else %}
  <h1>NO</h1>
  {% endif %}

  {% if x == y %}
    <h1>YES</h1>
  {% else %}
    <h1>NO</h1>
  {% endif %}

<p>In views.py you can see what the fruits variable looks like.</p>

<p>This page contains a footer in a template.</p>

{% include 'footer.html' %} 

</body>
</html>